@font-face {
    font-family: SpongeboyRegular;
    src: url(SpongeboyRegular.otf);
}

body {
    font-family: SpongeboyRegular, Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("home-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    cursor: default;
}

.buttons {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 140px;
}

#start-button,
#list-button {
    font-family: SpongeboyRegular, sans-serif;
    text-align: center;
    display: block;
    cursor: pointer;
    padding: 20px 30px;
    font-size: 1.5em;
    border-radius: 8px;
    caret-color: transparent;
}

.credits {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    caret-color: transparent;
    font-style: italic;
    color: #fff;
    text-align: left;
}

.credits a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the same color as the parent element */
    cursor: pointer; /* Change cursor to indicate clickable */
}